<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.security.mapper.SysUsersRoleDao">

    <resultMap type="com.yang.security.entity.UsersRole" id="UsersRoleMap">
        <result property="id" column="ID" jdbcType="BIGINT"/>
        <result property="userId" column="USER_ID" jdbcType="BIGINT"/>
        <result property="roleId" column="ROLE_ID" jdbcType="BIGINT"/>
        <result property="revision" column="REVISION" jdbcType="INTEGER"/>
        <result property="createdBy" column="CREATED_BY" jdbcType="VARCHAR"/>
        <result property="createdByUserId" column="CREATED_BY_USER_ID" jdbcType="BIGINT"/>
        <result property="createdTime" column="CREATED_TIME" jdbcType="TIMESTAMP"/>
        <result property="updatedBy" column="UPDATED_BY" jdbcType="VARCHAR"/>
        <result property="updatedByUserId" column="UPDATED_BY_USER_ID" jdbcType="BIGINT"/>
        <result property="updatedTime" column="UPDATED_TIME" jdbcType="TIMESTAMP"/>
    </resultMap>
</mapper>

